<section class="events">
  <nav class="navbar navbar-light">
  <form class="form-inline">
  <h5>meetvents</h5>
    <input class="form-control mr-sm-6" type="search" placeholder="  Discover" aria-label="Search">
    {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> --}}
  </form>
</nav>
  <div><img src="/images/cultural.png"/><a href="/cultural" class="href">CULTURAL</a></div>
  <div><img src="/images/festival.png"/><a href="/festivals" class="href">FESTIVAL</a></div>
  <div><img src="/images/concert.png"/><a href="/concert" class="href">CONCERTS</a></div>
  <div><img src="/images/sports.png"/><a href="/sports" class="href">SPORTS</a></div> 
  <div><img src="/images/food.png"/><a href="/food" class="href">FOOD & DRINKS</a></div>
  <div><img src="/images/conference.png"/><a href="/conference" class="href">CONFERENCE</a></div>
  <div><img src="/images/standup.png"/><a href="/stand" class="href">STAND-UP</a></div>
  <div><img src="/images/other.png"/><a href="/stand" class="href">OTHERS</a></div>
</section>
 