<nav class="navbar navbar-light fixed-top">
    <form class="form-inline">
  
  <h5>meetvents</h5>
  <section class="searchlog" style="margin:auto">
    <a href="/events"><i class="fas fa-home"></i></a>
    <a href="/profile" class="mr-3">Profile</a>
    <input class="form-control mr-sm-6" type="search" placeholder="  Discover" aria-label="Search">
    <a href="/Logout">Logout</a>
  </section>
  </form>
</nav>


<section class="events">
  <div><img src="/images/cultural.png"/><a href="/cultural" class="href">CULTURAL</a></div>
  <div><img src="/images/festival.png"/><a href="/festivals" class="href">FESTIVAL</a></div>
  <div><img src="/images/concert.png"/><a href="/concert" class="href">CONCERTS</a></div>
  <div><img src="/images/sports.png"/><a href="/sports" class="href">SPORTS</a></div> 
  <div><img src="/images/food.png"/><a href="/food" class="href">FOOD & DRINKS</a></div>
  <div><img src="/images/conference.png"/><a href="/conference" class="href">CONFERENCE</a></div>
  <div><img src="/images/standup.png"/><a href="/stand" class="href">STAND-UP</a></div>
  <div><img src="/images/other.png"/><a href="/stand" class="href">OTHERS</a></div>

</section>
 