<section class="login">
<img src="/images/loginimg.png">
<br>
<h1>meetvents</h1>
<br>
<br>
<form action="/login" method="POST">
<label for="email">Email</label>
<input type="email" name="email"><br>
<label for="password">Password</label>
<input type="password" name="password"><br><br>
<button type="submit">LOGIN</button><br>
<p class="center">New user?<a href="/signup">   Sign up</a></p>
</form>

        {{#if message}}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {{/if}}
</section>