<nav class="navbar navbar-light fixed-top">
    <form class="form-inline">
  
  <h5>meetvents</h5>
  <section class="searchlog" style="margin:auto">
    <a href="/events"><i class="fas fa-home"></i></a>
    <a href="/profile" class="mr-3">Profile</a>
    <input class="form-control mr-sm-6" type="search" placeholder="  Discover" aria-label="Search">
    <a href="/Logout">Logout</a>
  </section>
  </form>
</nav>

<div class="row" style="margin-top: 100px;">
<section class="profile col-sm-12 col-md-10 col-lg-10 ml-auto mr-auto">
  <div class="profile-info" style="text-align: center;">
    <img style="width: 23.1rem;" src="/images/profile.jpg" alt="Placeholder image">
      <h2 class="subtitle is-6">{{user.name}}</h2>
      <div class="verified"><p class="title is-4">{{user.age}} | {{user.country}} | Verified Account   <i class="fas fa-check"></i></p></div>
  </div>

<div class="friends-info col-sm-12 col-md-10 col-lg-10 ml-auto mr-auto">
  <h3>Friends <span class="badge badge-pill badge-info">15</span></h3>
    <div class="card-group flex-row">
      <div class="row" style="display: flex; justify-content:space-evenly;">
        <div class="card col-3 m-1">
          <img class="card-img-top" src="/images/amigo1.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Mike Bernal</h6>
          </div>
        </div>
        <div class="card col-3 m-1">
          <img class="card-img-top" src="/images/amigo2.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Alex Baez</h6>
          </div>
        </div>
        <div class="card col-3 m-1">
          <img class="card-img-top" src="/images/amigo4.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Juli Ment</h6>
          </div>
        </div>

      </div>
</div>   


<div class="match-events col-sm-12 col-md-10 col-lg-10 ml-auto mr-auto">
  <h3>Matched events <span class="badge badge-pill badge-info">3</span></h3>
    <div class="card-group flex-row">
      <div class="row" style="display: flex; justify-content:space-evenly;">
        <div class="card col-5 m-1">
          <img class="card-img-top" src="/images/edc.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">EDC Festival</h6>
          </div>
        </div>
        <div class="card col-5 m-1">
          <img class="card-img-top" src="/images/other.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Das Oktoberfest</h6>
          </div>
        </div>
    
      </div>
  </div>    
</div>

<div class="waiting-list col-sm-12 col-md-10 col-lg-10 ml-auto mr-auto">
  <h3>Waiting list <span class="badge badge-pill badge-info">5</span></h3>
    <div class="card-group flex-row">
      <div class="row" style="display: flex; justify-content:space-evenly;">
        <div class="card col-5 m-1">
          <img class="card-img-top" src="/images/comidaevent.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Sherry Cocktails</h6>
          </div>
        </div>
        <div class="card col-5 m-1">
          <img class="card-img-top" src="/images/sportevent.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Pumas-Santos</h6>
          </div>
        </div>
    
      </div>
  </div>    
</div>

<div class="past-events col-sm-12 col-md-10 col-lg-10 ml-auto mr-auto" style="text-align: center;">
  <h3>Past events <span class="badge badge-pill badge-info">3</span></h3>
    <div class="card-group flex-row">
      <div class="row" style="display: flex; justify-content:space-evenly;">
        <div class="card col-5 m-1">
          <img class="card-img-top" src="/images/standupevent.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Stand Up x</h6>
          </div>
        </div>
        <div class="card col-5 m-1">
          <img class="card-img-top" src="/images/dataevent.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Data Day</h6>
          </div>
        </div>
    
      </div>
  </div>    
</div>
<br><br>
</div>

<div class="logout"><a href="/Logout">LOGOUT</a></div>

<br><br>


  <div class="footer">
              © 2020-
    <noscript>2018</noscript>
    <script type="text/javascript">document.write(new Date().getFullYear());</script>
    meetvents, All rights reserved.
  </div>
</section>
