<form action="/signup" method="POST">
<label for="name">Name:</label>
<input type="text" name="name">
<label for="email">Email:</label>
<input type="email" name="email">
<label for="genre">Genero:</label>
<select name="genre">
  <option value="Hombre">Hombre</option>
  <option value="Mujer">Mujer</option>
  <option value="Prefiero no decirlo">Prefiero no decirlo</option>
</select>
<label for="age">Edad:</label>
<input type="number" name="age">
<label for="password">Password:</label>
<input type="password" name="password">
<button type="submit">Registrarme</button>
</form>