<form action="/group" method="POST">
  <label for="subject">Subject:</label>
  <input type="text" name="subject"><br>
  <label for="messages" class="for">Message:</label>
  <textarea name="messages" style="width:250px;height:150px;"></textarea>

    <p class="control">
      <button class="button is-success">
        POST
      </button>
    </p>
  </div>
</form>
