<div class="group-fondo">
  <h1>Group event</h1>
  <div class="feedback">
  {{#each message}}
  <p><span class="badge badge-light">{{this.users}}</span> wrote: {{this.messages}}</p> 
  {{!-- <h5>Subject:</h5>  {{this.subject}} --}}
  {{/each}}
  </div>
  <div class="text-message" style="display: flex;">
    <textarea name="messages" style="width:100%;" placeholder="Write message..."></textarea>
    <button class="button is-success btn btn-info">
        Post
    </button>
  </div>
</div>


{{!-- {{#each userGroup}}

{{this.user.name}}

{{/each}}



<div class="grupo">
<form action="/group" method="POST">
  <label for="messages" class="for">What do you want to talk about?</label>
  

    <p class="control">
      
    </p>
  </div>
</form>
</div> --}}