<nav class="navbar navbar-light fixed-top">
    <form class="form-inline">
  
  <h5>meetvents</h5>
  <section class="searchlog" style="margin:auto">
    <a href="/events"><i class="fas fa-home"></i></a>
    <a href="/profile" class="mr-3">Profile</a>
    <input class="form-control mr-sm-6" type="search" placeholder="  Discover" aria-label="Search">
    <a href="/Logout">Logout</a>
  </section>
  </form>
</nav>

<div class="group-fondo">
  <h1>Group event</h1>
  <div class="feedback">
  {{#each message}}
  <p><span class="badge badge-info">{{this.users}}  wrote:</span> {{this.messages}}</p> 
  {{/each}}
  </div>
  <div class="text-message" style="display: flex;">
  <form action="/group/{{this.eventsId}}" method="POST" style="display: flex;">
    <textarea name="messages" style="width:80vw; flex-grow:2;" placeholder="Write message..."></textarea>
    <input type="submit" class="button is-success btn btn-info" value="POST" style="flex-grow:1; width:20vw;">
  </div>
</form>
</div>