nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color:#f2f2f2;
  width:100%;
  height: 11vh;
  h5{
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-right: 20%;
    padding-left: 12%;
    margin: auto;
  }
  .searchlog{
    display: flex;
    justify-content: space-evenly;
    display: flex;
    padding:0;
    .form-control{
      width:20%;
      margin-top: 1%;
    }
    a{
      padding-left: 2%;
      padding-top: 2%;
      color: #444444;
      margin-bottom: 2%;
    }
  }
}

.events{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  div{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: stretch;
    width:40%;
    height: 20%;
    margin: auto;
    border: transparent;
    font-weight: bold;
    background:linear-gradient(#964EC2,#50409A);
    border-radius: 5px;
    img{
      width:auto;
      height:90%;
      @media(max-width:959px){ height:70%;}
      background-size: 100%;
      opacity: 0.4;
      background-repeat: no-repeat;
      background-position: 0 0;
      // position: absolute;
      border-radius: 5px;
      margin: auto;
      // margin-left: -35px;
    }
    a{
      color: white;
      text-align: center;
      width:30vw;
      line-height: 20vh;
      border-radius: 5px;
      z-index: 99;
      position: absolute;
      font-size: 2vw;
      @media(max-width:959px){font-size: 3vw;}
    }
  }  
}