.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50409A), to(#964EC2));
  background-image: linear-gradient(#50409A, #964EC2);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

.signup h1 {
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
}

.signup button {
  background-color: #FF7BBF;
  border-radius: 5px;
  border: transparent;
  color: white;
  width: 200px;
  height: 35px;
  margin: auto;
  font-weight: bold;
}

.signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: -5%;
}

.signup input {
  height: 40px;
  border-radius: 5px;
  border: transparent;
}

.signup select {
  color: #444444;
  border: white;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.signup select .btn {
  color: white;
}

.signup a {
  color: white;
  font-weight: bold;
}

.signup .center {
  margin: auto;
}

.signup .alert-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

body .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#964EC2), to(#50409A));
  background-image: linear-gradient(#964EC2, #50409A);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
  padding-right: 7.5%;
  padding-left: 7.5%;
  padding-bottom: 15%;
  color: white;
  border: 0;
}

body .login img {
  width: 40vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (max-width: 959px) {
  body .login img {
    width: 80vw;
  }
}

body .login h1 {
  font-weight: bold;
  text-align: center;
  margin-top: -40px;
}

body .login button {
  background-color: #FF7BBF;
  border-radius: 5px;
  border: transparent;
  color: white;
  width: 150px;
  height: 40px;
  margin: auto;
  font-weight: bold;
}

body .login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -60px;
}

body .login input {
  height: 40px;
  border-radius: 5px;
  border: transparent;
}

body .login select {
  color: #444444;
  border: white;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

body .login a {
  color: white;
  font-weight: bold;
}

body .login .center {
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 11vh;
}

nav h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  padding-right: 20%;
  padding-left: 12%;
  margin: auto;
}

nav .searchlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: flex;
  padding-left: 7%;
}

nav .searchlog .form-control {
  width: 68vw;
  margin-top: 1%;
}

nav .searchlog a {
  padding-left: 2%;
  padding-top: 2%;
  color: #444444;
  margin-bottom: 2%;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.events div {
  padding-left: 5%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 40%;
  height: 20%;
  margin: auto;
  border: transparent;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#964EC2), to(#50409A));
  background: linear-gradient(#964EC2, #50409A);
  border-radius: 5px;
}

.events div img {
  width: auto;
  height: 90%;
  background-size: 100%;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 5px;
  margin: auto;
}

@media (max-width: 959px) {
  .events div img {
    height: 70%;
  }
}

.events div a {
  color: white;
  text-align: center;
  width: 30vw;
  line-height: 20vh;
  border-radius: 5px;
  z-index: 99;
  position: absolute;
  font-size: 2vw;
}

@media (max-width: 959px) {
  .events div a {
    font-size: 3vw;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 11vh;
}

nav h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  padding-right: 15%;
  padding-left: 12%;
  margin: auto;
}

nav .searchlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: flex;
  padding-left: 5%;
}

nav .searchlog .form-control {
  width: 68vw;
  margin-top: 1%;
}

nav .searchlog a {
  padding-left: 2%;
  padding-top: 2%;
  color: #444444;
  margin-bottom: 2%;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.detail img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */